@tailwind base;
@tailwind components;
@tailwind utilities;

.active-content > p {
  background-color: #9b33b7;
}

* {
  transition-duration: 300ms;
}

* {
  scrollbar-color: #d90074 #0e1217;
  scrollbar-width: thin;
}
