@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --progress-width: 0;
  --buffered-width: 0;
  --buffered-left: 0;
}

.active-content > p {
  background-color: #0074d9;
}

* {
  transition-duration: 300ms;
}
